SECRET_KEY="aad8f9a8dsf8a9s8df98asd8fsfa9d9f8a09s8fd09f"
FLASK_APP=run.py
# production/development
FLASK_ENV=development


# Define the database
# Flask-SQLAlchemy
SQLALCHEMY_DATABASE_URI="mysql+mysqlconnector://DB_USERNAME:DB_PASSWORD@127.0.0.1:3306/DB_DATABASE"
SQLALCHEMY_TRACK_MODIFICATIONS=False

# Static Assets
STATIC_FOLDER_PATH="/assets"
STATIC_FOLDER="assets"
TEMPLATES_FOLDER="views"
UPLOAD_FOLDER="app/assets/uploads"